cc_library(
    name = 'template_cpu',
    srcs = [
        'template_cpu.cpp',
    ],
    warning = 'no',
)

cu_binary(
    name = 'template',
    srcs = [
        'template.cu',
    ],
    deps = [
        ':template_cpu',
    ],
    warning = 'no',
)
